$c-white: #FFFFFF;
$c-black: #000000;

$c-grey-100: #DAE5F5;
$c-grey-200: #94A5BF;
$c-grey-300: #6C86AD;
$c-grey-400: #324E66;
$c-grey-500: #2B4358;
$c-grey-600: #1F3446;

$c-red-400: #DD3D3D;
$c-red-500: #D41A1A;
$c-red-600: #C31919;
$c-red-700: #7E3939;

$c-blue-300: #5BB0FF;
$c-blue-400: #2192D9;
$c-blue-500: #1F85C6;
$c-blue-600: #1A79B5;

$c-green-100: #53D9C0;
$c-green-500: #317165;

$c-orange-600: #957C4B;