.translate-component-enter-active,
.translate-component-leave-active {
  transition: all 0.2s ease;
}

.translate-component-enter-from,
.translate-component-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.translate-y-enter-active,
.translate-y-leave-active {
  transition: all 0.2s ease;
}

.translate-y-enter-from,
.translate-y-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active, .dropdown-leave-active {
  will-change: height, opacity;
  transition: height 0.3s, opacity 0.3s cubic-bezier(0.33, 0.82, 0.64, 0.99), padding 0.3s;
  overflow: hidden;
}

.dropdown-enter-from, .dropdown-leave-to {
  height: 0 !important;
  opacity: 0;
  padding: 0 !important;
}

.notification-enter-active,
.notification-leave-active {
  transition: all 0.3s ease;
}

.notification-enter-to,
.notification-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.notification-enter-from,
.notification-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.appear-enter-active,
.appear-leave-active {
  transition: all var(--appear-duration, 0.5s) ease;
}

.appear-enter-to,
.appear-leave-from {
  position: relative;
  opacity: 1;
  transform: scale(1);
}

.appear-enter-from,
.appear-leave-to {
  position: absolute;
  opacity: 0;
  transform: scale(0.95);
}
